.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url('../image/header-bg.png');
  background-size: cover;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__bottom {
  font-family: Poppins, sans-serif;
  font-style: Bold;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: white;
}
