.icon {
  display: block;
  width: 24px;
  height: 24px;
  font-weight: 24px;
}

.icon--phone {
  background-image: url("src/Icon/Icon-Phone-call.png");
}

.icon--menu {
  background-image: url("src/Icon/Icon-Burger-menu.png");
}

.icon--close {
  background-image: url("src/Icon/icon-Close.png");
}
