.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__phone-number {
    color: $main-text-color;
    text-decoration: none;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: right;


    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    transition: all 0.3s ease-in-out;

    white-space: nowrap;
  }

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    align-items: center;

    @include on-tablet {

      &:hover .top-bar__phone-number {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 56px;
    }
  }
}
