@mixin on-Tablet{
  @media (min-width: $tablen-min-width) {
    @content;
  }
}

@mixin constent-Padding-Inline(){
  padding-inline: 20px;

  @include on-Tablet {
    padding-inline: 72px ;
  }
}

@mixin hover($property, $toValue){
  transition: #{$property} 0.3s;
  &:hover{
    #{$property}:$toValue;
  }
}
