@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-widtx) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-tablet {
    padding-inline: 120px;
  }
}

@mixin hover($property, $to-value) {
  transition: #{$property} $effectduration;

  &:hover {
    #{$property}: $to-value;
  }
}


