$tablet-min-width: 576px;
$desktop-min-widtx: 1024px;
$main-text-color: #fff;
$second-text-color: #adadad;
$effectduration: 0.3s;
$main-bgc: #1d1d1d;
$button-fix-height: 56px;
$input-fix-height: 48px;
$masseg-height: 148px;
$input-bgc: #f8f8fa;
$input-text-color: #292929;
$input-text-color-defolt: #7e7e83;
