$tablet-min-width: 576px;
$desktop-min-widtx: 1024px;
$main-text-color: #FFF;
$effectduration: 0.3s;
$main-bgc: #1D1D1D;
$button-fix-height: 56px;
$input-fix-height: 48px;
$masseg-height: 148px;
$input-bgc: #F8F8FA;
$input-text-color: #292929;
$input-text-color-defolt: #7E7E83;

